#
vpath %.deb $(TOP)

.PHONY: usage update get $(APPNAME) install clean

# default
usage:
	@echo ""
	@echo ">>> Welcome $(APPNAME) Configuration Environment."
	@echo ""
	@echo "    make get       : Backup and Download $(APPNAME)"
	@echo "    make install   : Install $(APPNAME) through apt"
	@echo "    make usage     : This screen (default)"
	@echo "    make update    : Reinstall $(APPNAME) (clean, install, and start)"
	@echo "    make clean     : Remove the downloaded $(APPNAME)"
	@echo "    make backup    : Create backup file if an installation file exists"
	@echo "    make stop      : Stop a running zoom"
	@echo "    make start     : Start a zoom"
	@echo ""

update: clean stop install start

get: backup $(APPNAME)
#get: clean $(APPNAME)

$(APPNAME):
	@wget -c $(SRC_URL)

install: get
ifeq "$(OS_DISTRO)" "ID=debian"
	@sudo apt install -y $(TOP)/$(SRC_NAME)
else
	@sudo dnf install -y $(TOP)/$(SRC_NAME)
endif

clean:
	@-rm -f $(APPNAME)

stop:
	@-pkill -e zoom

start:
	@zoom &


backup:
ifneq (,$(wildcard $(APPNAME)))
ifeq "$(OS_DISTRO)" "ID=debian"
	@mv $(APPNAME) $(APPNAME)_v$$(dpkg-deb -W $(APPNAME) | cut -f2)
else
	@mv $(APPNAME) $(APPNAME)_v$$(rpm -qp --queryformat "%{VERSION}" $(APPNAME) 2>/dev/null)
endif
